src/LHZ.FastJson/bin
src/LHZ.FastJson/obj
src/LHZ.FastJson.UnitTest/bin
src/LHZ.FastJson.UnitTest/obj
src/.vs
TestResults/
src/LHZ.FastJson.Benchmark/bin
src/LHZ.FastJson.Benchmark/obj
BenchmarkDotNet.Artifacts/
.vscode/
src/LHZ.FastJson.Benchmark.Nuget